@import "~bootstrap";
@import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "./colours";
@import "./screens";
// font-family: "Gotham", sans-serif;
// font-family: "Gotham Black", sans-serif;
// font-family: "Gotham Light", sans-serif;
// font-family: "Gotham Thin", sans-serif;
// font-family: "Gotham XLight", sans-serif;
// font-family: "Gotham Book", sans-serif;
// font-family: "Gotham Ultra", sans-serif;
@font-face {
  font-family: "gothambold";
  src: url("./fonts/gotham-bold-webfont.woff2") format("woff2"), url("./fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamthin";
  src: url("./fonts/gotham-thin-webfont.woff2") format("woff2"), url("./fonts/gotham-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("./fonts/gothammedium_1-webfont.woff2") format("woff2"),
    url("./fonts/gothammedium_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "gothamthin";
}

#wpadminbar {
  background-color: $yellow !important;
  top: unset !important;
  bottom: 0 !important;
  * {
    color: $black !important;
  }
}
.container {
  @media (min-width: 768px) {
    max-width: 871px;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

h1 {
  font-family: "gothammedium", sans-serif;
  font-weight: bold;
}

canvas {
  display: block;
  /* fix necessary to remove space at bottom of canvas */
  height: 100vh;
  width: 100vw;
  background-color: black;
}

html,
body {
  font-family: "gothammedium", sans-serif;
  margin: 0;
  //line-height: 1px !important;
}

.controls {
  position: fixed;
  bottom: 58px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 20px;
  width: 400px;
  text-align: center;
  margin: auto;
}

html,
body {
  background-color: #000;
}

#testmode {
  position: fixed;
  color: aliceblue;
}

button {
  border: none;
  font-size: 1.5rem !important;
  border-radius: 0 !important;
  line-height: 1.5rem !important;
  padding: 0.8em 1.5em;
  font-family: "gothammedium", sans-serif !important;
  &:hover {
    // background-color: #fff !important;
  }
}
#goback {
  display: block;
  position: fixed;
  bottom: 44px;
  left: 0;
  right: 0;
  margin: auto;
}

#left,
#right {
  position: fixed;
  height: 2em;
  width: 2em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  &:hover {
    cursor: pointer;
  }
}

#left {
  left: 0;
}
#right {
  right: 0;
}

.howto {
  background-color: #fff;
  padding: 4rem;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 9999;
}
